<div class="input-group">
  <label [for]="id()">{{ label() }}</label>

  <input
    [id]="id()"
    [type]="type()"
    [placeholder]="placeholder()"
    [formControlName]="controlName()"
    [autocomplete]="autoComplete()"
    [attr.min]="min() ?? null"
    [attr.max]="max() ?? null"
    [attr.step]="step() ?? null"
    [attr.maxlength]="maxLength() ?? null"
    [attr.minlength]="minLength() ?? null"
    (animationstart)="onAnimationStart($event)"
  />

  @if (showError() && errorMessage().length > 0) {
    <span>{{ errorMessage() }}</span>
  }
</div>
