<footer>
  <nav class="footer-nav">
    <span>&copy; {{ currentYear }}, Espada de Luna</span>
    <ul>
      <li><a routerLink="/privacy">Privacy Policy</a></li>
      <li><a routerLink="/shipping">Shipping Information</a></li>
      <li><a routerLink="/terms">Terms of Service</a></li>
      <li><a routerLink="/contact">Contact us</a></li>
    </ul>
    <div>
      <a href="https://www.instagram.com/espadadeluna">
        <img ngSrc="/icons/instagram.svg" width="24" height="24" alt="Instagram" />
      </a>
      <a href="https://www.tiktok.com/@espadadelunastore">
        <img ngSrc="/icons/tiktok.svg" width="24" height="24" alt="TikTok" />
      </a>
    </div>
  </nav>
</footer>
