:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--void);
  color: var(--bone);
}

.page {
  flex: 1;
  margin: 0 var(--app-margins);

  &--admin {
    margin: 0;
    margin-left: 220px;
    padding: 0;
    transition: margin-left 0.25s ease;

    &-collapsed {
      margin-left: 60px;
    }
  }
}
