.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.power-container {
  background-color: #c9cfd3;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.power-container #power-point {
  background-color: #d73f40;
  width: 1%;
  height: 100%;
  border-radius: 5px;
  transition: 0.5s;
}
