.power-container {
  background-color: #2e424d;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.power-container #power-point {
  background-color: #d73f40;
  width: 1%;
  height: 100%;
  border-radius: 5px;
  transition: 0.5s;
}
