:root {
  --primary-color: #3f51b5;
  --header-height: 60px;
  --app-margins: 2rem;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
